{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "globals": {
    "document": true,
    "window": true,
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "expect": true,
    "require": true,
    "jest": true,
    "Generator": false
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx", ".js"] }],
    "react/jsx-props-no-spreading": "off",
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off"
  }
}
