@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

.message {
  display: block;
  font-size: 0.75rem;

  &.error {
    color: $red;
  }

  &.success {
    color: $green;
  }
}
